<div class="flex flex-wrap justify-center">
  <!-- Primera fila -->
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/bf/b7/b1/bfb7b1f58ddacb366230cf16d03ec4ac.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Seguridad Alimentaria
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        La agronomía desempeña un papel fundamental en la producción de cultivos
        alimentarios esenciales, asegurando que haya suficiente oferta para
        satisfacer las necesidades nutricionales de la población en constante
        crecimiento. Los agrónomos trabajan en el desarrollo de técnicas de
        cultivo, selección de variedades resistentes a enfermedades y
        condiciones climáticas adversas, y la implementación de prácticas
        agrícolas sostenibles para mejorar la producción de alimentos.
      </p>
    </div>
  </div>
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/51/ad/34/51ad34099656a97465d41d75d1a861ea.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Eficiencia de Recursos
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        La agronomía se enfoca en el uso eficiente de recursos como el agua y
        los nutrientes del suelo. Esto es especialmente importante en un
        contexto de escasez de agua y preocupaciones sobre la degradación del
        suelo. Los agrónomos investigan y desarrollan métodos de riego y
        fertilización precisos para maximizar la producción con la menor
        cantidad de recursos posibles.
      </p>
    </div>
  </div>
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/9a/67/da/9a67da83c9dff65ebac8428e5a380c2e.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Sostenibilidad
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        La agricultura sostenible es un objetivo clave de la agronomía. Los
        agrónomos trabajan en la implementación de prácticas agrícolas que
        reduzcan el impacto ambiental, conserven la biodiversidad y mantengan la
        salud del suelo a largo plazo. Esto incluye la adopción de sistemas de
        cultivo orgánico, rotación de cultivos y prácticas de conservación.
      </p>
    </div>
  </div>

  <!-- Segunda fila -->
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/df/5f/92/df5f921493c2659dc2ee8df6b58bcce7.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Innovación Tecnológica
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        La agronomía se beneficia de la innovación tecnológica, como la
        aplicación de la tecnología de la información, el uso de sensores y la
        automatización en la agricultura. Estas tecnologías, junto con el
        Internet de las Cosas (IoT), pueden ayudar a los agricultores a
        monitorear y administrar sus cultivos de manera más eficiente,
        optimizando la producción y reduciendo el desperdicio.
      </p>
    </div>
  </div>
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/94/b7/d6/94b7d6850d16c19a59c4fa9e92edaa7a.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Diversificación y Valor Agregado
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        Los agrónomos también trabajan en la diversificación de cultivos y la
        búsqueda de alternativas agrícolas que puedan ser valiosas tanto para la
        alimentación como para la industria. Esto puede incluir la producción de
        cultivos no tradicionales, la agroforestería y la producción de
        biocombustibles.
      </p>
    </div>
  </div>
</div>
