

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/originals/b7/14/19/b7141990c83dc747cbcebbc18ea55ae0.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/b6/fd/25/b6fd259ac52dae8d5439bc92119b9b7b.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/originals/5d/cb/74/5dcb747387bbcb7b962e24c4e2ff8c25.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/17/6e/2c/176e2ce75745973d84b5a409f9ae28c2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://img.freepik.com/premium-photo/asian-farmer-working-field-spraying-chemical_30478-5123.jpg?w=900" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/736x/40/a2/d8/40a2d85d6313f20711191030abb84027.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/7d/07/41/7d0741ce9249b165d3f7cad2a399a18a.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/26/b1/33/26b133d701f26cc54af252eda9ad77b2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/47/7b/fb/477bfb7dac18da453377b8f5db4fe689.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/08/8b/7c/088b7cd089a36c97cb202c7cf341a542.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/2d/f8/3e/2df83e47a10f01a0d06d77079608d69b.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.pinimg.com/564x/21/6c/34/216c34022a747a7ede1137985ef3a292.jpg" alt="">
        </div>
    </div>
</div>
