---
import Layout from "../layouts/Layout.astro";
import GestionDeRiegoImages from "./GestionDeRiegoImages.astro";
---

<Layout title="IoT">
  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
  ></script>
  <main>
    <div
      class="flex flex-col items-center justify-center space-y-4 mx-10 mt-14 mb-4"
    >
      <div class="text-white">
        <h1 class="text-2xl font-bold mb-4" id="gestionderiego">
          Importancia de la gestión eficiente del riego en la agricultura.
        </h1>
        <div class="bg-transparent text-justify">
          <p class="text-2xl">
            La programación del riego tiene como objeto central el que se tomen
            decisiones orientadas a determinar las cantidades de agua por
            aplicar y las fechas de aplicación de cada riego con la intención de
            minimizar deficiencias o excesos de humedad en el suelo que pudieran
            causar efectos adversos sobre el crecimiento, rendimiento y calidad
            de los cultivos. Con una adecuada programación del riego se puede
            lograr u n importante ahorro en el agua, se disminuyen costos por
            ahorro de energía y mano de obra, se minimiza estrés hídrico y
            maximizan rendimientos, así como la calidad, rentabilidad e
            ingresos. Se refiere a: cuánto, cuándo, y cómo regar los cultivos
            para obtener máxima eficiencia y productividad del agua. En la
            programación de los riegos destaca la cuantificación de las
            necesidades hídricas de los cultivos, lo cuales se obtienen por los
            parámetros de evaporación y transpiración. La medición de estos
            procesos por separado es difícil, por lo que se utiliza el término
            evapotranspiración para referirse de manera conjunta a la
            evaporación de agua que ocurre físicamente controlada desde la
            superficie del suelo y a la que ocurre fisiológicamente controlada
            desde la superficie de las hojas.
          </p>
        </div>
      </div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/pFG8yu7kdAs"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <div class="text-white">
        <h1 class="text-2xl font-bold mb-4" id="sistemasInteligentes">
          Cómo los sistemas de riego inteligente basados en IoT ajustan el riego
          según las condiciones del suelo y el clima.
        </h1>
        <div class="bg-transparent text-justify">
          <p class="text-2xl">
            Para una adecuada selección de los principales componentes
            funcionales que integran el sistema de riego es preciso conocer su
            comportamiento y su interacción con el resto de los componentes del
            sistema en condiciones dinámicas de operación. Los criterios de
            selección, dimensionado y ubicación de estos deben contribuir a
            maximizar la productividad en el uso del agua y la energía con un
            “uso racional” de la misma.
          </p>
        </div>
      </div>
      <div class="text-white">
        <div class="bg-transparent text-justify">
          <ul class="text-2xl list-disc">
            <li>
              Los que se basan en la medición y monitoreo, en el suelo o las
              plantas, de la evapotranspiración y de algunas variables
              relacionadas con la demanda hídrica del cultivo.
            </li>
            <li>Los que se basan en el balance de la humedad en el suelo.</li>
          </ul>
        </div>
      </div>
      <div class="text-white">
        <div class="bg-transparent text-justify">
          <p class="text-2xl">
            Los métodos del primer tipo se apoyan en el uso de sensores para
            medir variables como el contenido de humedad, tensión de humedad y
            resistencia eléctrica del suelo, o bien, temperatura del follaje.
            Por su parte, el método del balance de la humedad en el suelo se
            basa en la estimación de las entradas y salidas de agua en el perfil
            del suelo ocupado por las raíces del cultivo. Para tener un panorama
            más completo de cómo se distribuye el agua contenida en el perfil
            del suelo, a continuación se describen brevemente los parámetros de
            humedad en el suelo, los cuales son importantes en la programación
            de los riegos.
          </p>
        </div>
        <GestionDeRiegoImages />
        <div class="text-white">
          <h1 class="text-2xl font-bold mb-4" id="beneficiosEconomicos">
            Beneficios económicos y ambientales de la gestión del riego basada
            en IoT.
          </h1>
          <div class="bg-transparent text-justify">
            <p class="text-2xl">
              La industria agrícola está transformándose ampliamente con el
              Internet de las Cosas, está optimizando la gestión de sus
              operaciones y la rentabilidad de sus negocios. Según cifras de IDC
              Firma de investigación de mercados), este sector lidera el mercado
              mundial uso de Soluciones IoT, aproximadamente el 60% de la
              inversión se destina al uso de esta tecnología. Gracias a ahorros
              obtenidos de hasta 30% en costos relacionados con la supervisión y
              recolección de los productos, las soluciones IoT permiten conocer
              a fondo cada cultivo generando un mejor uso de insumos como el
              fertilizante, agua y plaguicidas, sensores para medir humedad y
              reconocer plagas, así como los procesos automatizados, los
              dispositivos de IoT han permitido una producción más eficiente y
              con menor riesgo. El empleo de Internet de las Cosas en la
              agroindustria contribuye a obtener información detallada del
              cultivo, el suelo y de las variaciones del clima en tiempo real,
              lo que facilita el proceso de siembra mediante el monitoreo, el
              almacenamiento de datos y la evaluación automatizada, entre otros
              recursos. Se suman a estos beneficios, la obtención de datos
              meteorológicos y previsiones locales, gestión y análisis del
              suelo, del riesgo y automatización, monitoreo de plagas, modelo y
              previsión de enfermedades, convirtiéndose en una herramienta clave
              para la gestión, control y análisis de datos para la toma de
              decisiones en este sector. Mediante el uso de aplicaciones móviles
              y satelitales es posible mitigar el riesgo en cultivos, aumentar
              la productividad y rentabilidad haciendo un uso eficiente de
              fertilizantes, pesticidas y riego, contribuyendo a la generación
              de productos más sanos y rentables. El monitoreo con soluciones
              IoT de las plantas durante la precosecha y cosecha, con
              dispositivos electrónicos que conectan con sondas y sensores, y
              que recopilan datos fenológicos, hidrológicos y, en general, de
              nutrición y fisiología de planta envían datos través de Internet a
              plataformas que permiten visualizar los indicadores agronómicos,
              clave de rendimiento de los cultivos y para que las personas que
              gestionan los cultivos puedan tomar decisiones basadas en
              criterios objetivos para incrementar los rendimientos y la
              sostenibilidad de los cultivos. Además la automatización del riego
              y demás elementos de la estructura que soporta los cultivos, es
              uno de los principales beneficios que brinda la tecnología IoT,
              incluyendo el uso de estaciones remotas de control que permiten a
              los usuarios interactuar con los elementos de operación de forma
              ágil y sencilla para programar riegos, abrir y cerrar válvulas en
              la infraestructura de riego o en general, interactuar con
              cualquier elemento electromecánico, como por ejemplo, un motor de
              apertura y cierre de ventana en invernadero para controlar la
              temperatura y humedad ambiental.
            </p>
          </div>
        </div>
      </div>
      <img
        style="width: 70%; height: 50%; border-radius: 10px;"
        class="h-auto w-50 rounded-lg"
        src="https://www.mokolora.com/wp-content/uploads/2022/11/4.webp"
        alt=""
      />
    </div>
  </main>

  <style>
    main {
      margin: auto;
      width: 100%;
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
