<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-100 dark:text-gray-500"
      >Detección temprana de plagas</time
    >
    <p class="mb-4 text-base font-normal text-gray-200">
      Si el control de plagas es una preocupación para ti, gracias a muchos de
      estos sensores, es posible prever e identificar a tiempo la presencia de
      enfermedades y animales que atenten contra tus cultivos. Muchos recursos
      tecnológicos que hemos mencionado en este post permiten realizar estudios
      como de temperatura, radiación solar, incluso de humedad en las hojas o
      imágenes del tronco para identificar la presencia de estos elementos
      externos y dañinos.
    </p>
  </li>
</ol>

<li class="mb-10 ms-4">
  <div
    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
  >
  </div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-100"
    >Manejo eficiente del agua</time
  >
  <p class="text-base font-normal text-gray-200">
    Los procesos de irrigación son el corazón de las actividades agrícolas en
    muchos sentidos, ya que de allí parte el éxito o el fracaso de una cosecha.
    Con el uso de sensores, se puede saber con exactitud el nivel de humedad en
    el suelo, el PH o si las plantas poseen estrés hídrico con el fin de
    elaborar el mejor producto posible. Asimismo, recolectando estos datos y
    evaluándose dentro de un software con la ayuda de la Inteligencia
    Artificial, por ejemplo, se pueden obtener proyecciones precisas de la
    cantidad de agua, tiempo de riego, minerales y nutrientes, entre otros datos
    relevantes para optimizar el uso del líquido.
  </p>
</li>
