<div class="flex flex-wrap justify-center">
  <!-- Primera fila -->
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://bloglatam.jacto.com/wp-content/uploads/2022/04/sensores-para-agricultura-de-precision-scaled-1.jpeg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Sensores termales infrarrojos
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        El tan temido estrés hídrico en los cultivos, principalmente demostrable
        al analizar las raíces, desencadena varios procesos hormonales en los
        alimentos y que impiden su transpiración. Esta disminución de la energía
        en las plantas, es totalmente detectable por la termografía infrarroja,
        lo que permite que los productores puedan identificar deficiencias en la
        temperatura con alta precisión y tomar acciones concretas que salven el
        cultivo.
      </p>
    </div>
  </div>
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://www.geocom.cl/cdn/shop/files/banner_p4multi.png?v=1664553719&width=1600"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Sensores multiespectrales e hiperespectrales
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        Estudiar la cantidad de clorofila presente en las hojas de las plantas,
        es una excelente manera de conocer si los cultivos están experimentando
        un déficit nutricional, alguna enfermedad, entre otros. Con este tipo de
        sensores, es posible obtener información relevante que nuestros ojos
        simplemente ignoran. Lo que puede ser determinante a la hora de
        eficientar una cosecha o reducir costos.
      </p>
    </div>
  </div>
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://www.renkeer.com/wp-content/uploads/2021/06/soil-npk-meter.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Sensores N, P, K
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        Dentro de este grupo existen una amplia gama de sensores para
        agricultura de precisión, pero en general, son aquellos que determinan
        el nivel de algunos nutrientes específicos en el suelo, por ejemplo:
        nitratos,fosfatos,potasio,entre otros. En la actualidad, es posible
        utilizar sensores digitales incorporados en la maquinaria que puedan
        medir este tipo de datos en tiempo real y detectar la presencia de estos
        componentes químicos en el suelo, eso sí, menos precisos que los
        estudios de laboratorios habituales, pero que pueden dar indicios de
        valor a la hora de tomar decisiones y controlar los cultivos en la
        agricultura y en la ganadería.
      </p>
    </div>
  </div>
</div>
