<div class="flex flex-wrap justify-center">
  <!-- Primera fila -->
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/a9/01/37/a90137780cbfe7e53da803f1e9b72f1b.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Dispositivos inteligentes
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        Se trata de dispositivos, como un televisor, una cámara de seguridad o
        un equipo de ejercicio, a los que se les dotó de capacidades de
        computación. Recopila datos de su entorno, de las entradas de los
        usuarios o de los patrones de uso y comunica los datos a través de
        Internet hacia y desde su aplicación de IoT.
      </p>
    </div>
  </div>
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/51/ad/34/51ad34099656a97465d41d75d1a861ea.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Aplicación de IoT
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        Una aplicación de IoT es un conjunto de servicios y software que integra
        los datos recibidos de varios dispositivos de IoT. Utiliza tecnología de
        machine learning o inteligencia artificial (IA) para analizar estos
        datos y tomar decisiones informadas. Estas decisiones se comunican al
        dispositivo de IoT y este responde de forma inteligente a las entradas.
      </p>
    </div>
  </div>
  <div
    class="w-65 m-4 p-4 max-w-sm rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <img
      class="rounded-t-lg"
      src="https://i.pinimg.com/564x/6e/18/b9/6e18b94663b6be39225afb9ccd91736f.jpg"
      alt=""
    />
    <div class="p-5 text-justify">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
          Una interfaz de usuario gráfica
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-200">
        El dispositivo de IoT o la flota de dispositivos pueden administrarse a
        través de una interfaz de usuario gráfica. Algunos ejemplos comunes son
        una aplicación móvil o un sitio web que pueden utilizarse para registrar
        y controlar dispositivos inteligentes.
      </p>
    </div>
  </div>
</div>
